# Rust demo application
SOURCE_DATABASE_URL=mysql://root:root@127.0.0.1:3307/mysql
REPLICA_DATABASE_URL=mysql://root:root@127.0.0.1:3308/mysql
DEMO_ROWS=1000000
SEED_BATCH_SIZE=1000
HEAVY_BATCH_SIZE=50000
MARKER_AFTER_BATCHES=5
POLL_INTERVAL_MS=500
INITIAL_SYNC_TIMEOUT_SECS=600
FINAL_SYNC_TIMEOUT_SECS=600

# Docker Compose resource limits
SOURCE_CPUS=2.0
REPLICA_CPUS=0.25

